$primary-color: #8eaebd;
$secondary-color: #30415d;


body {
	position: relative;
}

#loginBtn {
	padding: 1em 0;
	font-size: 2em;
	margin: 10% 0 0;
}

.page-header {
	text-align: center;
}

#welcome {
	margin: 5% auto 0;
}

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background-color: $primary-color;
	color: white;

	a {
		color: white;
	}

	a:hover {
		color: black;
	}

}

.dropdown-menu {
	background-color: $primary-color;
}

#logo {
	margin-right: 1.5em;
}

#image-icon {
	border-radius: 50%;
	max-width: 50px;
	margin-left: 1em;
}

#main-container {
	padding-top: 80px;
	padding-bottom: 50px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: $primary-color;
	color: white;
	z-index: 99;
	font-size: .8em;
}

.partial-h2 {
	text-align: center;
	margin-bottom: 1em;
}

#child-dd {
	background-color: white;
}
.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	grid-auto-rows: 1fr;
}
.main-card {
	padding-bottom: 1em;
	margin-bottom: 2em;
	position: relative;
	// box-shadow: 0px 0px 5px 0px rgba(196,196,196,1);
}

.card-interior {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comments {
	padding-bottom: 1.5em;
}
.cardButtons {
	position: absolute;
	bottom: 10px;
}

////////////////////////////////////////////////////////
//////////PRINT/SELECT//////////////////////////////////
////////////////////////////////////////////////////////

.select-group {
	margin-bottom: 1em;
}

#printBTN {
	display: inline-block;
	margin-left: 1.5em;
}

#childSelectRecords {
	display: inline-block;
	margin: auto;
}

////////////////////////////////////////////////////////
//////////GRAPH JS//////////////////////////////////////
////////////////////////////////////////////////////////

.panel-heading {
	text-align: center;
}

.graph-div {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid grey;
}

.chart {
	margin: auto;
}

.color-spans {
	width: 15px;
	height: 15px;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: 0;
}

.data-row {
	margin: 1em auto 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.data-labels {
	margin-right: 2em;
}

.data-labels-sm {
	margin-right: 1em;
}

.data-nums-sm {
	padding-right: 3em;
}

.data-nums-xs {
	padding-right: 1em;
}

.data-colors {
	margin-right: .5em;
	padding-right: 0;
}

.color-legend {
	color: white;
	margin-bottom: .9em;
}

.graph-categories {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .5em;
}

.graph-label {
	margin-bottom: 0;
}

.graph-drop {
	margin: 0 auto 1em;
	text-align: center;
}

////////////////////////////////////////////////////////
//////////MEDIA QUERIES/////////////////////////////////
////////////////////////////////////////////////////////

@media only screen and (max-width: 499px) {

	#keywordSearch {
		display: none;
	}

	#printBTN {
		display: none;
	}

	#childSelectRecords {
		display: block;
		max-width: 100%;
		margin: 0;
	}

}

@media only screen and (max-width: 991px) {

	#logo {
		margin-right: 0;
	}



}

@media only screen and (min-width: 500px) {

	#childSelectRecords {

		max-width: 65%;

	}

}

@media only screen and (min-width: 992px) {

	#navUl {
		margin-left: 2em;
		margin-right: 1em;
	}

		#childSelectRecords {

		max-width: 75%;

	}

	.graph-div {
		border-bottom: none;
	}

}

@media only screen and (min-width: 1070px) {

	#navUl {
		margin-left: 10%;
		margin-right: 1em;
	}

}

@media only screen and (min-width: 1200px) {

	#navUl {
		margin-left: 30%;
		margin-right: 1em;
	}

}
