@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$primary-color: #8eaebd;
$secondary-color: #30415d;
$eye-catcher: #cf6766;

////////////////////////////////////////////////////////
//////////MAIN PAGE/////////////////////////////////////
////////////////////////////////////////////////////////

body {
	position: relative;
	font-family: 'Open Sans', sans-serif;
}

#loginBtn {
	padding: 1em 0;
	font-size: 2em;
	margin: 10% 0 0;
}

.page-header {
	text-align: center;
}

#welcome {
	margin: 5% auto 0;
}

.crimson {
	color: $eye-catcher;
}

#main-container {
	padding-top: 80px;
	padding-bottom: 50px;
}

.btn-light {
	border: 1px solid lightgrey;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	background-color: $primary-color;
	color: white;
	z-index: 99;
	font-size: .8em;
}

.partial-h2 {
	text-align: center;
	margin-bottom: 1em;
}

#child-dd {
	background-color: white;
}

////////////////////////////////////////////////////////
////////////CARD VIEW///////////////////////////////////
////////////////////////////////////////////////////////

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	grid-auto-rows: 1fr;
}
.main-card {
	padding-bottom: 1em;
	margin-bottom: 2em;
	position: relative;
}

.card-padding {
	height: 100%;
	background-color: #f9f9ff;
	padding: 1em;
	border-radius: 10px;
}

.card-interior {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.comments {
	padding-bottom: 1.5em;
}

.cardButtons {
	position: absolute;
	bottom: 25px;
}

////////////////////////////////////////////////////////
////////////Welcoome Animation//////////////////////////
////////////////////////////////////////////////////////

@keyframes appear {
  	from {
    	opacity: 0;
  	}
  	to {
    	opacity: 1;
  	}
}
@keyframes disappear {
  	from {
    	opacity: 1;
  	}
  	to {
    	opacity: 0;
  	}
}

@keyframes downward {
  	from {
    	opacity: 0;
    	top: -500px;
  	}
  	to {
    	opacity: 1;
    	top: 0px;
  	}
}

@keyframes upward {
  	from {
  		opacity: 1;
    	top: 0px;
  	}
  	to {
    	opacity: 0;
    	top: -500px;
  	}
}

.fade-in {
	position: relative;
	animation: 1s downward;
}

.fade-out {
	// position: relative;
	animation: .4s disappear;
}

.fade-in-2 {
	animation: .4s appear;
}

////////////////////////////////////////////////////////
////////////NAV BAR/////////////////////////////////////
////////////////////////////////////////////////////////

#nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
	background-color: $primary-color;
	color: white;

	a {
		color: white;
	}

	a:hover {
		color: black;
	}
}

.navbar-toggler{
	border-color: rgba(255,255,255, 0.7);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.dropdown-menu {
	background-color: $primary-color;
}

#logo {
	margin-right: 1em;
}

#image-icon {
	border-radius: 50%;
	max-width: 50px;
	margin-left: 1em;
}

////////////////////////////////////////////////////////
//////////TOUR//////////////////////////////////////////
////////////////////////////////////////////////////////

.alert-p {
	margin: 0 0 .25em;
}

.fa-exclamation-triangle {
	color: $eye-catcher;
}

.flash-btn {
	animation: glowing 1200ms infinite;
}

.flash-btn-2 {
	animation: glowing-2 1200ms infinite;
}

.flash-btn-3 {
	animation: glowing-3 1200ms infinite;
}

.flash-btn-4 {
	animation: glowing-4 1200ms infinite;
}

@keyframes glowing {
  	0% { color: white; text-shadow: 0 0 3px $primary-color; }
  	50% { color: $eye-catcher; text-shadow: 0 0 40px $eye-catcher; }
  	100% { color: white; text-shadow: 0 0 3px $primary-color; }
}

@keyframes glowing-2 {
  	0% { color: black; background-color: white; box-shadow: 0 0 3px #fff; }
  	50% { color: white; background-color: $eye-catcher; box-shadow: 0 0 10px $eye-catcher; }
  	100% { color: black; background-color: white; box-shadow: 0 0 3px #fff; }
}

@keyframes glowing-4 {
  	0% {background-color: #5bc0de; box-shadow: 0 0 3px #fff; }
  	50% {background-color: $eye-catcher; box-shadow: 0 0 10px $eye-catcher; }
  	100% {background-color: #5bc0de; box-shadow: 0 0 3px #fff; }
}

@keyframes glowing-3 {
  	0% { box-shadow: 0 0 3px white; }
  	50% { box-shadow: 0 0 40px $eye-catcher; }
  	100% { box-shadow: 0 0 3px white; }
}

////////////////////////////////////////////////////////
//////////PRINT/SELECT//////////////////////////////////
////////////////////////////////////////////////////////

.select-group {
	margin-bottom: 1em;
}

#printBTN {
	display: inline-block;
	margin-left: 1em;
}

#childSelectRecords {
	display: inline-block;
	margin: auto;
}

#behShort {
	display:none;
}

#defButtonAllRec {
	display: inline-block;
	margin-left: .8em;
}

////////////////////////////////////////////////////////
//////////GRAPH JS//////////////////////////////////////
////////////////////////////////////////////////////////

.red {
	color: #f7464a;
}
.panel-heading {
	text-align: center;
}

.graph-div {
	margin-bottom: 2em;
	padding-bottom: 2em;
	border-bottom: 1px solid grey;
}

.chart {
	margin: auto;
}

.color-spans {
	width: 15px;
	height: 15px;
	margin-top: .5em;
	margin-bottom: .5em;
	margin-right: 0;
}

.data-row {
	margin: 1em auto 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.data-labels {
	margin-right: 2em;
}

.data-labels-sm {
	margin-right: 1em;
}

.data-nums-sm {
	padding-right: 3em;
}

.data-nums-xs {
	padding-right: 1em;
}

.data-colors {
	margin-right: .5em;
	padding-right: 0;
}

.color-legend {
	color: white;
	margin-bottom: .9em;
}

.graph-categories {
	font-weight: bold;
	text-decoration: underline;
	margin-bottom: .5em;
}

.graph-label {
	margin-bottom: 0;
}

.graph-drop {
	margin: 0 auto 1em;
	text-align: center;
}

#dropdownMenuButton {
	margin-left: 10em;
}

.graph-h5 {
	margin-top: 0;
	margin-bottom: .25em;
}

////////////////////////////////////////////////////////
//////////MEDIA QUERIES/////////////////////////////////
////////////////////////////////////////////////////////

@media only screen and (max-width: 374px) {

	#defButton2 {
		display: none;
	}
}

@media only screen and (max-width: 445px) {

	#defButton2 {
		width: 125px;
	}

	#behShort {
		display: inline;
	}
	#behLong {
		display: none;
	}

}

@media only screen and (max-width: 767px) {

	#defButton3 {
		display: none;
	}

}

@media only screen and (max-width: 524px) {

	#keywordSearch {
		display: none;
	}

	#printBTN {
		display: none;
	}

	#childSelectRecords {
		display: block;
		// max-width: 100%;
		margin: 0;
	}
}

@media only screen and (max-width: 991px) {

	#logo {
		margin-right: 0;
	}

	#dropdownMenuButton {
		margin-left: 0em;
	}

	#defButtonAllRec {
		display: none;
		margin-left: .8em;
}	

	#childSelectRecords {
		max-width: 65%;
	}
}

@media only screen and (min-width: 525px) {

	#childSelectRecords {

		// max-width: 65%;
	}
}

@media only screen and (min-width: 992px) {

	#navUl {
		margin-left: 2em;
		margin-right: 1em;
	}

		#childSelectRecords {

		max-width: 58%;
	}

	.graph-div {
		border-bottom: none;
	}

		.nav-link {
		font-size: .9em;
	}

}

@media only screen and (min-width: 1070px) {

	#navUl {
		margin-left: 10%;
		margin-right: 1em;
	}
}

@media only screen and (min-width: 1200px) {

	#navUl {
		margin-left: 30%;
		margin-right: 1em;
	}
}