<header class="partial-h2">
  <h2>{{title}}</h2>
</header>
<!-- ALERT for first-time users - will not show after first use-->
<div class="alert alert-info alert-dismissible fade show" role="alert" ng-show="firstUse">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <p class="alert-p"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Welcome <span>New User</span>! </p>
  <p class="alert-p">Please use this form to <strong>Add a Child</strong> to begin tracking.</p>
</div>
<!-- Main Record Form-->
<form>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput">Child's Name:</label>
    <input type="text" class="form-control" id="childName" placeholder="Child's Name" ng-model="child.name">
  </div>

  <div class="form-group">
    <label for="dateSelect">Birthdate:</label>
    	<input type="date" id="dateSelect" ng-model="child.birthdate"">
    </select>
  </div>

  <div class="form-group">
    <label for="parent_comments">Comments:</label>
    <textarea class="form-control" id="parent_comments" rows="3" placeholder="Parent Comments" ng-model="child.comments"></textarea>
  </div>
  <!-- Save Button for ADD view; triggers a POST to Friebase-->
  <button type="button" class="btn btn-light" ng-click="addChild()" ng-hide="editKid">Save</button>
  <!-- Save Button for EDIT view; triggers a PATCH to Friebase-->
  <button type="button" class="btn btn-light" ng-click="editChild()" ng-hide="addKid">Save</button>
  <!-- Cancel Button returns to child-list-->
  <a ng-href="#!/all-children"><button type="button" class="btn btn-secondary">Cancel</button><a>
  <!-- Delete Button triggers delete modal-->
  <button type="button" class="btn btn-danger"  ng-hide="addKid" data-toggle="modal" data-target="#deleteChildModal">Delete</button>
</form>

<!-- DELETE Modal-->
<div class="modal fade" id="deleteChildModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete {{child.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete {{child.name}}?  All of {{child.name}}'s records will be deleted as well.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Delete button triggers a DELETE message to Firebase-->
        <button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="deleteChildFromEdit()" >Delete</button>
      </div>
    </div>
  </div>
</div>