<nav class="navbar navbar-expand-lg navbar-light bg-light" ng-controller="NavbarCtrl" id="nav">
  <a class="navbar-brand" id="logo" ng-href="#!/home">TemperTracker™</a>
  <form class="form-inline">
    <input id="keywordSearch" class="form-control mr-sm-2" type="text" placeholder="Keyword Search" aria-label="Keyword Search" ng-model="searchText.search" ng-disabled="!searchbar" ng-show="isLoggedIn">
  </form>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" ng-show="isLoggedIn">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" id="navUl">
      <li class="nav-item active" ng-show="isLoggedIn">
        <a class="nav-link" ng-href="#!/home">Add Record<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" ng-show="isLoggedIn">
        <a class="nav-link" ng-href="#!/list-records">View Records</a>
      </li>
      <li class="nav-item" ng-show="isLoggedIn">
        <a class="nav-link" ng-href="#!/graphs">Graphs</a>
      </li>
      <li class="nav-item dropdown" ng-show="isLoggedIn">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Children
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" ng-href="#!/all-children">See All Children</a>
          <a class="dropdown-item" ng-href="#!/add-child">Add Child</a>
        </div>
      </li>
      <li></li>
    </ul>
      <button type="button" id="logOutBtn" class="btn btn-outline-primary" ng-click="logOut()" ng-show="isLoggedIn">Log Out</button>
  </div>
</nav>