<h2>{{title}}</h2>

<form>
  <div class="form-group">
    <select class="form-control" id="childSelect" ng-model="record.childID">
      <option value="">Select Child</option>
      <option ng-repeat='child in childrenInfo' value='{{child.id}}'>{{child.name}}</option>

    </select>
  </div>
  <div class="form-group">
    <label for="dateSelect">Date:</label>
    	<input type="date" id="dateSelect" ng-model="record.date">
    </select>
  </div>
      <div class="form-group">
    <label for="startTime">Start of Behavior:</label>
    	<input type="time" id="startTime" ng-model="record.time">
    </select>
  </div>
    <div class="form-group">
    <select class="form-control" id="duration" ng-model="record.duration">
      <option value="">Duration of Behavior</option>
      <option value="0-4">0-4 minutes</option>
      <option value="5-10">5-10 minutes</option>
      <option value="11-20">11-20 minutes</option>
      <option value="21-30">21-30 minutes</option>
      <option value="30">Over 30 minutes</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="antecedent" ng-model="record.antecedent">
      <option value="">Antecedent</option>
      <option>Diverted Attention</option>
      <option>Demand</option>
      <option>Item Removed</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="consequence" ng-model="record.consequence">
      <option value="">Consequence</option>
      <option>Attention</option>
      <option>Item Given</option>
      <option>Item Removed</option>
      <option>Escape</option>
      <option>None</option>
    </select>
  </div>
  <div class="form-group">
    <label for="parent_comments">Parent Comments:</label>
    <textarea class="form-control" id="parent_comments" rows="3" ng-model="record.comments"></textarea>
  </div>
  <button type="button" class="btn btn-primary" ng-click="addRecord()">Save</button>
  <button type="button" class="btn btn-secondary">Cancel</button>
  <button type="button" class="btn btn-danger" ng-click="deleteRecord()">Delete</button>
</form>