<!-- <pdf> tag is for future pdf-generation feature-->
<div class="fade-in-2">	
	<pdf>
		<header class="partial-h2">
		  <h2>{{title}}</h2>
		</header>

		<div class="alert alert-info alert-dismissible fade show" role="alert" ng-show="firstUse">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		  <p class="alert-p">This page displays all behavior records.  They can be filtered by using the <strong>Keyword Search</strong> box above or, if you're tracking more than one child, the<strong> Select A Child's Records to View</strong> menu below.</p>
		  <p class="alert-p"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Click the <strong><i class="fa fa-bar-chart" aria-hidden="true"></i> Graphs</strong> link on the upper right to see behavioral data.</p>
		</div>
		<!-- Div Containing select and buttons-->
		<div class="select-group">
			<select class="form-control" id="childSelectRecords" ng-model="kidFilter.search" ng-class="{'flash-btn-3' : firstUse}">
			      <option value="">Select A Child's Records to View </option>
			      <!-- Populated by the databse call in ChildFactory-->
			      <option ng-repeat='child in childrenData' value='{{child.id}}'>{{child.name}}</option>
			</select>
			<!-- Print Button calls $window.print() system dialog-->
			<button type="button" class="btn btn-outline-secondary" id="printBTN" ng-click="printRecords()"><i class="fa fa-print" aria-hidden="true"></i> Print Records</button>
			<!-- Behavior Definitions Button triggers Behavior Definitions modal-->
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#legendModal" id="defButtonAllRec"><i class="fa fa-book" aria-hidden="true"></i> Behavior Definitions</button>
		</div>
		<!-- Main display -->
		<div class="row">
			<!-- Card -->
			<div class="col-lg-4 main-card" ng-repeat="record in records | filter: searchText.search | filter: kidFilter.search">
				<div class="card-interior card-padding">
					<p><strong>Child: </strong>{{record.child}}</p>
					<div class="form-group">
					    <label for="dateSelect"><strong>Date: </strong></label>
					    	<input type="date" id="dateSelect" ng-model="record.date" readonly>
					    </select>
				  	</div>
					 <div class="form-group">
					    <label for="startTime"><strong>Start of Behavior: </strong></label>
					    	<input type="time" id="startTime" ng-model="record.time" readonly>
					    </select>
				  	</div>
					<p><strong>Duration: </strong>{{record.duration}} minutes</p>
					<p><strong>Antecedent: </strong>{{record.antecedent}}</p>
					<p><strong>Consequence: </strong>{{record.consequence}}</p>
					<p class="comments"><strong>Comments: </strong>{{record.comments}}</p>
					<p ng-show="false">CHILD-ID:{{record.childID}}</p>
					<div class="cardButtons">
						<!-- Calls single record from database to view and goes to view page-->
						<a ng-href="#!/record/{{record.id}}/view"><button type="button" class="btn btn-secondary">View</button></a>
						<!-- Calls single record from database to edit and goes to the edit page-->
						<a ng-href="#!/record/{{record.id}}/edit"><button type="button" class="btn btn-light">Edit</button></a>
					</div>
				</div>
			</div>
		</div>
	</pdf>
</div>
<!-- Behavior Definitions Modal-->
<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="legendModal">Behavior Definitions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="legend" ng-include="'partials/legend.html'">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>