<div class="fade-in-2">
  <header class="partial-h2">
    <h2>{{title}}</h2>
  </header>
  <!-- ALERT for first-time users - will not show after first use-->
  <div class="alert alert-info alert-dismissible fade show fade-in-left" role="alert" ng-show="firstUse">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <p class="alert-p"><strong>Add a Record</strong> of <span ng-repeat='child in childrenInfo'>{{child.name}}</span>'s most recent tantrum using this form.</p>
    <p class="alert-p"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Click the blue <strong>Behavior Definitions</strong> button on the bottom right any time you need help with the behavioral terms used in this app.</p>
  </div>
  <!-- Main Record Form-->
  <form>
    <div class="form-group">
      <select class="form-control" id="childSelect" ng-model="record.childID">
        <option value="">Select Child</option>
        <option ng-repeat='child in childrenInfo' value='{{child.id}}'>{{child.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="dateSelect">Date:</label>
      	<input type="date" id="dateSelect" ng-model="record.date">
      </select>
    </div>
    <div class="form-group">
      <label for="startTime">Start of Behavior:</label>
      	<input type="time" id="startTime" ng-model="record.time">
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="duration" ng-model="record.duration">
        <option value="">Duration of Behavior</option>
        <option value="0-4">0-4 minutes</option>
        <option value="5-10">5-10 minutes</option>
        <option value="11-20">11-20 minutes</option>
        <option value="21-30">21-30 minutes</option>
        <option value="30">Over 30 minutes</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="antecedent" ng-model="record.antecedent">
        <option value="">Antecedent</option>
        <option>Diverted Attention</option>
        <option>Parental Demand</option>
        <option>Item Removed</option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" id="consequence" ng-model="record.consequence">
        <option value="">Consequence</option>
        <option>Attention</option>
        <option>Item Given</option>
        <option>Item Removed</option>
        <option>Escape</option>
        <option>None</option>
      </select>
    </div>
    <div class="form-group">
      <label for="parent_comments">Comments:</label>
      <textarea class="form-control" id="parent_comments" rows="3" ng-model="record.comments"></textarea>
    </div>
    <!-- Save Button for ADD view; triggers a POST to Friebase-->
    <button type="button" class="btn btn-light" ng-click="addRecord()" ng-hide="editRec">Save</button>
    <!-- Save Button for EDIT view; triggers a PATCH to Friebase-->
    <button type="button" class="btn btn-light" ng-click="editRecord()" ng-hide="addRec">Save</button>
    <!-- Cancel Button returns to record-list-->
    <a ng-href = "#!/list-records"><button type="button" class="btn btn-secondary">Cancel</button></a>
    <!-- Delete Button triggers delete modal-->
    <button type="button" class="btn btn-danger" ng-hide="addRec" data-toggle="modal" data-target="#deleteRecordModal">Delete</button>
    <!-- Behavior Definitions Button triggers Behavior Definitions modal in ADD view-->
    <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#legendModal" id="defButton" ng-hide="editRec" ng-class="{'flash-btn-4' : firstUse}"><i class="fa fa-book" aria-hidden="true"></i> Behavior Definitions</button>
    <!-- Behavior Definitions Button triggers Behavior Definitions modal in EDIT view; button scales down in EDIT view-->
    <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#legendModal" id="defButton2" ng-hide="addRec"><i class="fa fa-book" aria-hidden="true"></i> <span id="behLong">Behavior Definitions</span><span id="behShort">Behaviors</span></button>
  </form>
</div>
<!-- DELETE Modal-->
<div class="modal fade" id="deleteRecordModal" tabindex="-1" role="dialog" aria-labelledby="deleteRecordModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- Delete button triggers a DELETE message to Firebase-->
        <button type="button" class="btn btn-danger"  data-dismiss="modal" ng-click="deleteRecordFromEdit()">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Behavior Definitions Modal-->
<div class="modal fade" id="legendModal" tabindex="-1" role="dialog" aria-labelledby="legendModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="legendModal">Behavior Definitions</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="legend" ng-include="'partials/legend.html'">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>