<header class="partial-h2">
  <h2>{{title}}</h2>
</header>
<div>
	<p>CHILD: {{record.child}}</p>
	<p>DATE: {{record.date}}</p>
	<p>TIME: {{record.time}}</p>
	<p>DURATION: {{record.duration}} minutes</p>
	<p>ANTECEDENT: {{record.antecedent}}</p>
	<p>CONSEQUENCE: {{record.consequence}}</p>
	<p>PARENT COMMENTS: {{record.comments}}</p>

  	<a ng-href="#!/record/{{record.id}}/edit"><button type="button" class="btn btn-primary">EDIT</button></a>

 	<a ng-href = "#!/list-records"><button type="button" class="btn btn-secondary">Cancel</button></a>
</div>
