<h2>{{title}}</h2>

<form>
  <div class="form-group">
    <select class="form-control" id="childSelect">
      <option value="">Select Child</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
    <div class="form-group">
    <label for="dateSelect">Date:</label>
    	<input type="date" id="dateSelect">
    </select>
  </div>
      <div class="form-group">
    <label for="startTime">Start of Behavior:</label>
    	<input type="time" id="startTime">
    </select>
  </div>
    <div class="form-group">
    <select class="form-control" id="duration">
      <option value="">Duration of Behavior</option>
      <option value="0-4_minutes">0-4 minutes</option>
      <option value="5-10_minutes">5-10 minutes</option>
      <option value="11-20_minutes">11-20 minutes</option>
      <option value="21-30_minuted">21-30 minutes</option>
      <option value="Over_30_minutes">Over 30 minutes</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="antecedent">
      <option value="">Antecedent</option>
      <option>Diverted Attention</option>
      <option>Demand</option>
      <option>Item Removed</option>
    </select>
  </div>
  <div class="form-group">
    <select class="form-control" id="antecedent">
      <option value="">Consequence</option>
      <option>Attention</option>
      <option>Item Given</option>
      <option>Item Removed</option>
      <option>Escape</option>
      <option>None</option>
    </select>
  </div>
  <div class="form-group">
    <label for="parent_comments">Parent Comments:</label>
    <textarea class="form-control" id="parent_comments" rows="3"></textarea>
  </div>
</form>